<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400i" >

.main_nav a {
	color: #968772;
	
}
.main_nav {
	width: 1300px;
	height:60px;
	border:1px solid #FFFFFF;
	text-align: center;
	position: fixed;
	background-color: #FFFFFF;
	line-height: 60px;
	font-size: 20px;
	
}
.nav a {
	color: #967343;
	padding: 30px;
	text-transform: uppercase;
}
.nav {
	display: flex;
	justify-content: center;

}

.logo {
	background:url(./optimized/bent-creek-logo.png) no-repeat;
	padding:0;
	text-indent:-9999px;
	position:absolute;
	left:20px;
	width:40px;
	height:40px;
	background-size:40px 40px;
	top:10px;
}

.logo:hover {
	background:url(./optimized/bent-creek-logo-coral.png) no-repeat;
	background-size:40px 40px;
}

body {
	background-color: black;
	font-family: 'Roboto', sans-serif;
}

.form {
	background-color: white;
	position: relative;
	top: 200px;
	padding: 20px;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	width: 700px;
	margin: auto;
}
.wrapper {
	margin: auto;
	width: 1300px;
	height: auto;
}
#formwrap {
	background-image: url("./optimized/background-2.jpg");
	background-size: cover;
	height:750px;
}
input {
	width: 75%;
	height:40px;
	border:none;
	border-bottom: 2px solid #968772;
	margin: 10px 70px;
	font-size: 20px;
	color
}
#submit {
	width: 100px;
	background-color: #968772;
	color: white;
}



















